.blog{
    width: 100%;
}
.blog-1{
    width: 85%;
    height: 70%;
    margin: 0 auto;
    margin-top: 80px;
}
.blog-1-1,.blog-1-2,.blog-1-3{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;

}
.blog-1 img{
    width: 100%;
    display: none;
}
.blog-1-1 h1{
    margin: 0;
    margin-top: 20px;
    font-weight: 100;
    color: #003333;
}
.blog-1-1 p{
    margin-top: 10px;
}
.footer{
    margin-top: 30px;
}